#!/usr/bin/env bash
# run_onchange_ansible_bootstrap.sh.tmpl
#
# This script will run ansible bootstrap whenever its contents change.

{{- $dir := (printf "%s/.ansible-bootstrap" .chezmoi.homeDir) -}}
{{- $sum := include (print $dir "/requirements.yml") | sha256sum }}

set -euo pipefail

echo
echo "⬢ Detected change in Ansible bootstrap (hash: {{ $sum }})"
echo "▶ Running Ansible bootstrap tasks..."

cd {{ $dir }}

ansible-playbook main.yml -i inventory --ask-become-pass

echo "Ansible bootstrap complete — all done!"