#!/usr/bin/env bash
echo "====> RUN_ONCHANGE SCRIPT FIRED <===="
# run_onchange_ansible_bootstrap.sh.tmpl
#
# This script will run ansible bootstrap whenever its contents change.

{{- $dir := (printf "%s/.ansible-bootstrap" .chezmoi.homeDir) -}}
{{- $files := list "requirements.yml" "default.config.yml" "main.yml" }}
{{- $sums := list }}
{{- range $files }}
  {{- $sums = append $sums (include (print $dir "/" .) | sha256sum) }}
{{- end }}
{{- $combinedSum := join "" $sums | sha256sum }}

set -euo pipefail

echo
echo "⬢ Detected change in Ansible bootstrap (hash: {{ $combinedSum }})"
echo "▶ Running Ansible bootstrap tasks..."

cd {{ $dir }}

ansible-playbook main.yml -i inventory --ask-become-pass

echo "Ansible bootstrap complete — all done!"
